
.idea/

tselect/build/

tselect/dist/

src/tselect/tselect.egg-info/

src/tselect/tsfilter.egg-info/

src/tsfuse/.github/

src/tsfuse/docs/

src/tsfuse/docsource/

src/tsfuse/tests/

dist/

**/__pycache__/

src/tselect/tselect/rank_correlation/build/

src/tselect/tselect/rank_correlation/spearman.c
src/tsfuse/data/df.c
src/tsfuse/transformers/calculators/build/
src/tsfuse/transformers/calculators/cstatistics.c
src/tsfuse/transformers/calculators/queries.c

*.so

*.c

build/
